header {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fa8a00;
  background-image: url("https://www.transparenttextures.com/theme/images/transparent.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  height: 400px;
  width: 100%;
  padding: 15em
}

img {
  justify-content: center;
}

h2 {
  text-align :center;
}