/* CSS Styles for Navagation Bar */
nav {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  color: #FFFFFF;
  background-color: #fa8a00;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  height: 120px;
  padding: 1.5em;
  position: fixed;
  width: 100%;
  top: 0;
 }

 span{
  font-family: "Bungee"
 }

 #navBtn {
   color: #FFFFFF;
   cursor: pointer;
   padding: 20px 20px 20px 20px; 
   border-top-style: hidden;
   border-right-style: hidden;
   border-left-style: hidden;
   border-bottom-style: hidden;
   background-color: #fa8a00;
   background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
   font-family: 'Source Sans Pro';
 }

 #arrows{
  color: red;
 }

 /* Responsive Design  */
 @media (min-width: 1024px) {
  nav {
    background-color: #4056a1;
    background-image: none;
  }

  #navBtn {
    color: #FFFFFF;
    background-color: #4056a1;
    background-image: none;
    }
  }

