form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px
}

.counter {
  display: flex;
  font-family: "Bungee";
  margin-top: 10px;
  justify-content: flex-end;
}

button {
  display: flex;
  margin-top: 10px;
  background-color: #4056a1;
  color: #FFFFFF;
  font-family: "Bungee"
}

#tweet-text {
  display:flex;
  background-color: #f4f1ec;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 3px solid black;
}

@media (min-width: 1024px) {
  form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  margin-top: 200px;
  margin-right: 50px
  }
  }